name: Go

on:
  push:
    branches: [ "master", "main" ]
  pull_request:
    branches: [ "master", "main" ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4

    - name: Set up Go
      uses: actions/setup-go@v4
      with:
        go-version: '1.22'

    - name: Install dependencies
      run: |
        go mod tidy
        go install golang.org/x/tools/cmd/goyacc@latest

    - name: Verify parser generation
      run: |
        make yacc
        git diff --exit-code calc.go

    - name: Build
      run: go build -v ./...

    - name: Test
      run: go test -v ./...
